FarmaciaWeb/Service References/MedicamentosService/MedicamentosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalcularPrecioVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pMedicamento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pCantidad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularPrecioVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalcularPrecioVentaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPrecioUnitario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pMedicamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPrecioUnitarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ObtenerPrecioUnitarioResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalcularPrecioVentaSoapIn">
    <wsdl:part name="parameters" element="tns:CalcularPrecioVenta" />
  </wsdl:message>
  <wsdl:message name="CalcularPrecioVentaSoapOut">
    <wsdl:part name="parameters" element="tns:CalcularPrecioVentaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPrecioUnitarioSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPrecioUnitario" />
  </wsdl:message>
  <wsdl:message name="ObtenerPrecioUnitarioSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPrecioUnitarioResponse" />
  </wsdl:message>
  <wsdl:portType name="MedicamentosServiceSoap">
    <wsdl:operation name="CalcularPrecioVenta">
      <wsdl:input message="tns:CalcularPrecioVentaSoapIn" />
      <wsdl:output message="tns:CalcularPrecioVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrecioUnitario">
      <wsdl:input message="tns:ObtenerPrecioUnitarioSoapIn" />
      <wsdl:output message="tns:ObtenerPrecioUnitarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MedicamentosServiceSoap" type="tns:MedicamentosServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcularPrecioVenta">
      <soap:operation soapAction="http://tempuri.org/CalcularPrecioVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrecioUnitario">
      <soap:operation soapAction="http://tempuri.org/ObtenerPrecioUnitario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MedicamentosServiceSoap12" type="tns:MedicamentosServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcularPrecioVenta">
      <soap12:operation soapAction="http://tempuri.org/CalcularPrecioVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrecioUnitario">
      <soap12:operation soapAction="http://tempuri.org/ObtenerPrecioUnitario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MedicamentosService">
    <wsdl:port name="MedicamentosServiceSoap" binding="tns:MedicamentosServiceSoap">
      <soap:address location="http://localhost:14852/MedicamentosService.asmx" />
    </wsdl:port>
    <wsdl:port name="MedicamentosServiceSoap12" binding="tns:MedicamentosServiceSoap12">
      <soap12:address location="http://localhost:14852/MedicamentosService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>